<div class="modal-body">
  
  <div class="card card-modal-min">
    <div class="card-header">
      Add Credential
      <div class="card-header-actions">
        <button
          *ngIf="!isLoading"
          (click)="close(false)"
          type="button"
          class="card-header-action btn btn-link"
        >
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
    <div class="text-center pt-1 pb-1" *ngIf="isLoading">
      <app-loader class="loader"></app-loader>
    </div>
    <div *ngIf="!isLoading">
      <!-- form start -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="card-body">
          <div class="row">
            <!-- Name start -->
            <div class="col-sm-12">

              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  formControlName="name"
                  placeholder="Name"
                />
                <div
                  *ngIf="isFormSubmitted && f.name.errors"
                  class="mb-2 text-danger"
                >
                  <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
              </div>
            </div>
            <!-- Name end -->

            <!-- username start -->
            <div class="col-sm-12">
              <div class="form-group">
                <label for="username">Username or Email</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  formControlName="username"
                  placeholder="Username or Email"
                />
                <div
                  *ngIf="isFormSubmitted && f.username.errors"
                  class="mb-2 text-danger"
                >
                  <div *ngIf="f.username.errors.required">
                    Username or Email is required
                  </div>
                </div>
              </div>
            </div>
            <!-- username end -->

            <!-- Password start -->
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Password</label>
                <input
                  type="text"
                  class="form-control"
                  id="password"
                  formControlName="password"
                  placeholder="Password"
                />
                <div
                  *ngIf="isFormSubmitted && f.password.errors"
                  class="mb-2 text-danger"
                >
                  <div *ngIf="f.password.errors.required">
                    Password is required
                  </div>
                </div>
              </div>
            </div>
            <!-- Password end -->
            <!--Description start -->
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Description</label>
                <textarea id="description" name="description" rows="5" class="form-control"
                    placeholder="Description.."></textarea>
                <div
                  *ngIf="isFormSubmitted && f.description.errors"
                  class="mb-2 text-danger"
                >
                  <div *ngIf="f.description.errors.required">
                    Description is required
                  </div>
                </div>
              </div>
            </div>
            <!--Description end -->
             <!--Add user start -->
             <div class="col-sm-12">
              <div class="form-group">
                <button type="button" class="btn btn-primary" name="addUser" >Add User</button>
              </div>
            </div>
            <!--Add user end -->
             <!--Select user start -->
             <div class="col-sm-12">
              <div class="form-group">
                <div class="input-group-prepend mr-1 d-inline-block" dropdown>
                  <button type="button" class="btn btn-primary dropdown-toggle" dropdownToggle>Select User
                    <span class="caret"></span>
                  </button>
                  <div class="dropdown-menu" *dropdownMenu>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
                <div class="clearfix align-middle d-inline-block">
                  <div class="d-inline-block align-middle">
                    <small class="float-left"><b>View Only:</b></small>
                    <label class="switch switch-label switch-pill switch-success switch-sm float-left">
                      <input type="checkbox" class="switch-input" checked>
                      <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                    </label>
                  </div>
                  <div class="d-inline-block pl-2 align-middle">
                    <small class="float-left"><b>Edit Only:</b></small>
                    <label class="switch switch-label switch-pill switch-success switch-sm float-left">
                      <input type="checkbox" class="switch-input" checked>
                      <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                    </label>
                  </div>
                  <div class="d-inline-block pl-2 align-middle">
                    <small class="float-left"><b>Delete Only:</b></small>
                    <label class="switch switch-label switch-pill switch-success switch-sm float-left">
                      <input type="checkbox" class="switch-input" checked>
                      <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!--Select user end -->
          </div>
        </div>
        <div class="card-footer text-right">
          <button type="submit" class="btn btn-primary mr-2">
            <i class="fa fa-dot-circle-o"></i> Submit
          </button>
          <button (click)="close(false)" type="reset" class="btn btn-danger">
            <i class="fa fa-ban"></i> Cancel
          </button>
        </div>
      </form>
      <!-- form end -->
    </div>
  </div>
</div>
