<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Credentials
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Username</th>
                <th>Password</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Samppa Nori</td>
                <td>Samppa Nori</td>
                <td>****</td>
                <td>
                  <i class="fa fa-pencil pr-2"></i>
                  <i class="fa fa-trash"></i>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Estavan Lykos</td>
                <td>Staff</td>
                <td>***</td>
                <td>
                  <i class="fa fa-pencil pr-2"></i>
                  <i class="fa fa-trash"></i>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Chetan Mohamed</td>
                <td>Admin</td>
                <td>***</td>
                <td>
                  <i class="fa fa-pencil pr-2"></i>
                  <i class="fa fa-trash"></i>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>Derick Maximinus</td>
                <td>Member</td>
                <td>***</td>
                <td>
                  <i class="fa fa-pencil pr-2"></i>
                  <i class="fa fa-trash"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>