<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Credentials
          <button (click)="add()">Add</button>
          <div class="d-inline-block float-right">
            <span class="float-left"><b>Mine</b></span>
            <label
              class="
                switch switch-label switch-pill switch-success switch-sm
                float-left
                pl-1
              "
            >
              <input
                type="checkbox"
                (change)="changeType()"
                class="switch-input"
                [(ngModel)]="isShared"
              />
              <span
                class="switch-slider"
                data-checked=""
                data-unchecked=""
              ></span>
            </label>
            <span class="float-left pl-1"><b>Shared</b></span>
          </div>
        </div>
        <div class="card-body">
          <app-loader *ngIf="isLoading" class="loader"></app-loader>
          <table class="table" *ngIf="!isLoading">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Username</th>
                <th>Password</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Samppa Nori</td>
                <td>Samppa Nori</td>
                <td>****</td>
                <td>
                  <i class="fa fa-pencil pr-2"></i>
                  <i class="fa fa-trash"></i>
                  <i class="fa fa-clipboard pl-2"></i>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Estavan Lykos</td>
                <td>Staff</td>
                <td>***</td>
                <td>
                  <i class="fa fa-pencil pr-2"></i>
                  <i class="fa fa-trash"></i>
                  <i class="fa fa-clipboard pl-2"></i>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Chetan Mohamed</td>
                <td>Admin</td>
                <td>***</td>
                <td>
                  <i class="fa fa-pencil pr-2"></i>
                  <i class="fa fa-trash"></i>
                  <i class="fa fa-clipboard pl-2"></i>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>Derick Maximinus</td>
                <td>Member</td>
                <td>***</td>
                <td>
                  <i class="fa fa-pencil pr-2"></i>
                  <i class="fa fa-trash"></i>
                  <i class="fa fa-clipboard pl-2"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
