<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Credentials
          <button (click)="add()">Add</button>
          <div class="d-inline-block float-right">
            <span class="float-left"><b>Mine</b></span>
            <label
              class="
                switch switch-label switch-pill switch-success switch-sm
                float-left
                pl-1
              "
            >
              <input
                type="checkbox"
                (change)="changeType()"
                class="switch-input"
                [(ngModel)]="isShared"
              />
              <span
                class="switch-slider"
                data-checked=""
                data-unchecked=""
              ></span>
            </label>
            <span class="float-left pl-1"><b>Shared</b></span>
          </div>
        </div>
        <div class="card-body">
          <div class="text-center">
            <app-loader *ngIf="isLoading"></app-loader>
          </div>
          <table class="table" *ngIf="!isLoading">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Username</th>
                <th>Password</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let credential of credentials; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ credential.name }}</td>
                <td>{{ credential.userName }}</td>
                <td>
                  <span>{{
                    credential.isPasswordVisible
                      ? credential.password
                      : "******"
                  }}</span>
                  <span (click)="viewPassword(i, credential.isPasswordVisible)"
                    ><i class="fa fa-eye pr-2"></i
                  ></span>
                </td>
                <td>
                  <i
                    (click)="copyToClipBoard(credential.password)"
                    class="fa fa-clipboard pl-2"
                  ></i>
                  <i
                    *ngIf="credential.canEdit || !isShared"
                    class="fa fa-pencil pr-2"
                  ></i>
                  <i
                    *ngIf="credential.canDelete || !isShared"
                    (click)="delete(credential.id)"
                    class="fa fa-trash"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
